.header {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header__text {
  text-decoration: none;
  color: #111517;
  font-family: Nunito Sans;
  font-size: 24px;
  font-weight: 800;
}

.header__darktext {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: Nunito Sans;
  font-size: 24px;
  font-weight: 800;
}

.header__btn {
  display: inline-flex;
  align-items: center;
  border: none;
  background: none;
  color: #111517;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 600;
}

.header__btndark {
  display: inline-flex;
  align-items: center;
  border: none;
  background: none;
  color: rgba(255, 255, 255, 1);
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 600;
}

.header__svg {
  margin-right: 5px;
}

.dark {
  background: rgba(43, 56, 68, 1);
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .header__text {
    font-size: 18px;
  }

  .header__darktext {
    font-size: 18px;
  }

  .header__btn {
    font-size: 12px;
  }

  .header__svg {
    margin-right: 3px;
  }
}

@media screen and (max-width: 280px) {
  .header__text {
    font-size: 15px;
  }

  .header__darktext {
    font-size: 15px;
  }

  .header__btn {
    font-size: 10px;
  }

  .header__svg {
    margin-right: 0;
  }
}
